%html
  %head
    %script{:src => "/js/lib/jquery/dist/jquery.js"}
    %script{:src => "/js/lib/canjs/can.jquery.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/js/lib/bootstrap/dist/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/js/lib/bootstrap/dist/css/bootstrap-theme.min.css"}
    %script{:src => "/js/lib/bootstrap/dist/js/bootstrap.min.js"}
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fuild
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %a.navbar-brand{:href => '#'} Brand
      
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.navbar.navbar-end
          %li.active
            %a{:href => "#"} Link
                
        %form.navbar-form.navbar-left{:role => "search"}
          .form-group
            %input.form-control{:type => "text", :placeholder => "Search"}
          %button.btn.btn-default{:type => "submit"}
            Submit
        
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#"} Link
    != $yield
  %footer
    (c) Phillip Whelan 2014
