# Ignore backup files
*~
DEADJOE

# Ignore composer files
/vendor
/composer.lock

# Ignore server cache
/server/app/cache

# Ignore server logs
/server/public/error.log
/server/public/out.log
/server/log/
/server/run/

# Ignore bower installed JS packages
/public/js/lib/

/backups/

# Ignore scratch area
/schema/

# Ignore project files
.idea
*.sublime-project
*.sublime-workspace
